Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Pillow==2.8.1
PyExecJS==1.1.0
PyMySQL==0.6.7
Werkzeug==0.11.2
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
certifi==14.05.14
cssselect==0.9.1
cycler==0.9.0
elasticsearch==2.1.0
gevent==1.0.1
greenlet==0.4.5
itsdangerous==0.24
lxml==3.4.2
matplotlib==1.5.0
mechanize==0.2.5
numpy==1.10.1
psycopg2==2.6.1
pyasn1==0.1.7
pymongo==3.1.1
pyparsing==2.0.6
pyquery==1.2.9
pytesseract==0.1.6
python-dateutil==2.4.2
pytz==2015.7
requests==2.5.0
rsa==3.1.4
scikit-learn==0.17
scipy==0.16.1
selenium==2.48.0
six==1.10.0
threadpool==1.3.2
tornado==4.1
urllib3==1.12
wsgiref==0.1.2
