<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>python web</title>
    <!--<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>-->
    <script type="text/javascript" src="{{ static_url('js/web_qq/10125/mq_comm.js') }}"></script>

    <script type="text/javascript">
        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var Request = {};
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                var params = str.split("&");
                for (var i = 0; i < params.length; i++) {
                    Request[params[i].split("=")[0]] = (params[i].split("=")[1]);
                }
            }
            return Request;
        }
        alert('yyXuDoOMVzZ1r0O4yIS-D*jPubA0DsMz3*DFI4EQnFcOiA5xAQuyb4bsboFMvH6hPwEi*uX8Bi5uZUO-jLawSGGado9PkNE-wPWpZipgnvOln933dZyvpiJpwHudFq7Xme8fHlSoEaGee16uVKdkyMoriGOfQn99yBOtfz1UhLGEDP6zwntowp7aK5jvHtpbegeaeYflBDN71yIuCcBdPw__'.length);
    </script>
    <!--<script type="text/javascript">-->
        <!--$(document).ready(function () {-->
            <!--//接收参数-->
            <!--var Request = GetRequest();-->
            <!--var password = Request['password'];-->
            <!--var salt = Request['salt'];-->
            <!--var verify_code = Request['verify_code'];-->
<!--//            alert(Request['password']);-->
<!--//            alert(Request['salt']);-->
<!--//            alert(Request['verify_code']);-->
            <!--//加密-->
            <!--alert(chrsz);-->
            <!--var aa = getEncryption(password, salt, verify_code);-->
            <!--//var aa = password;-->
            <!--//alert(aa);-->
            <!--$('#password').html(aa);-->
        <!--});-->

    <!--</script>-->
</head>
<body>
<div id="password"></div>
</body>
</html>